<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="org.example.shunin"/>

<!--
    <bean id="classicalMusicBean"
          class="org.example.shunin.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>
-->

<!--
    <bean id="rockMusicBean"
          class="org.example.shunin.RockMusic">
    </bean>

    <bean id="juzzMusicBean"
          class="org.example.shunin.JazzMusic">
    </bean>
-->

    <!--
            <bean id="musicPlayer"
                  scope="prototype"
                  class="org.example.shunin.MusicPlayer">
                <property name="musicList">
                    <list>
                        <ref bean="classicalMusicBean"/>
                        <ref bean="juzzMusicBean"/>
                        <ref bean="rockMusicBean"/>
                    </list>
                </property>
                <property name="name" value="${musicPlayer.name}"/>
                <property name="volume" value="${musicPlayer.volume}"/>
            </bean>
    -->


</beans>